[Unit]
Description=A rule based proxy in Go.
After=network-online.target

[Service]
Type=simple
LimitNOFILE=65535
Restart=on-abort
ExecStart=/usr/local/bin/clash -d /var/lib/clash

[Install]
WantedBy=multi-user.target
